{% extends 'products/basic_site.html' %}

{% load static %}


{% block title %}
Контакты
{% endblock %}

{% block container %}
	<div class="container">
		<div class="hero">
			<div class="header clearfix">
				<a href="{% url 'index' %}" class="logo"></a>
				<ul class="menu">
					<li><a href="{% url 'index' %}">домой</a></li>
					<li><a href="{% url 'products' %}">продукты</a></li>
					<li><a href="{% url 'contact' %}" class="active">контакты</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'login' %}">ввойти</a></li>
                        <li><a href="{% url 'register' %}">зарегестрироваться</a></li>
                    {% else %}
                        <li><a href="{% url 'logout' %}">выйти</a></li>
                        <li><a href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a></li>
                    {% endif %}
				</ul>
				<a href="#" class="search"></a>
                {% if user.is_authenticated %}
                    <a href="#" class="basket"></a>
                {% endif %}
			</div>
			<h1>наши контакты</h1>
		</div>

		<div class="location">
            {% for location in locations %}
                <div class="location-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                    <h4>{{ location.city }}</h4>
                    <div class="contacts">
                        <h5>Телефон</h5>
                        <p>{{ location.phone }}</p>
                    </div>
                    <div class="contacts">
                        <h5>Email</h5>
                        <p>{{ location.email }}</p>
                    </div>
                    <div class="contacts">
                        <h5>Адрес</h5>
                        <p>{{ location.address }}</p>
                    </div>
                </div>
            {% endfor %}
		</div>

		<div class="clr"></div>

	</div>
{% endblock %}